<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"	 >
   <servlet>
        <servlet-name>selver</servlet-name>
        <servlet-class>Selvert.selver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verEvaluacion</servlet-name>
        <servlet-class>Selvert.verEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CraerUsuarios</servlet-name>
        <servlet-class>Selvert.CraerUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selver</servlet-name>
        <url-pattern>/selver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verEvaluacion</servlet-name>
        <url-pattern>/verEvaluacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CraerUsuarios</servlet-name>
        <url-pattern>/CraerUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
